$font-family-Tahoma: Tahoma, serif
$font-family-TimesNewRoman: TimesNewRomanPSMT, serif

$font-size-extra-big: 21px
$font-size-big: 18px
$font-size-medium: 16px
$font-size-small: 14px
$font-size-extra-small: 13px

$black-color: #000
$white-color: #fff
$gray-color: #8d8d8d
$gray-light-color: #f0f0f0