@import "variables"
@import "header"
@import "articles"

.container
  margin: 0 auto
  width: 841px

@media (max-width: 900px)
  .container
    width: 700px

@media (max-width: 720px)
  .container
    width: 390px

@media (max-width: 430px)
  .container
    width: 315px

@media (max-width: 330px)
  .container
    padding: 0 10px 0 10px